@import "importLib/hover.css";
.block:before{
    content: '';
    background: linear-gradient(45deg, #021130, #021130, #01F868, #021130, #7CA2F3, #7CA2F3, #01F868, #7CA2F3, #021130);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(50px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 40s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.block:active{
    color: #000
}

.block:active:after{
    background: transparent;
}

.block:hover:before{
    opacity: 1;
}

.block:after{
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    /*         background: #111; */
    left: 0;
    top: 0;
    /*         border-radius: 10px; */
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.set:hover, .clear:hover{
    width: 90%;
    height: 90%;
    margin-right: 5%;
    margin-top: 5%;
    margin-left: 5%;
    padding: 20%;
    opacity: 100%;
}

/* Safari 4.0 - 8.0 */
@keyframes flash {
    0%   {background-color: yellow;}
    25%  {background-color: red;}
    50%  {background-color: silver;}
    100% {background-color: green;}
}
@keyframes pulse {
    0%   {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
    }
    50%  {
        width: 80%;
        height: 80%;
        margin-right: 10%;
        margin-top: 10%;
        margin-left: 10%;
        padding: 20%;
    }
    100% {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
    }
}

.gameImageBackground{
    /*     background: linear-gradient(45deg, #f9c200, #ffdba6, #800000, #ffdba6, #a64d00, #800000, #f9c200, #ffdba6, #f9c200); */
    background: linear-gradient(45deg, #021130, #021130, #01F868, #021130, #7CA2F3, #7CA2F3, #01F868, #7CA2F3, #021130);
    /*     background: linear-gradient(45deg, #29B367, #78E7AA, #70D3C7, #01CEB6, #7CA2F3, #021130, #021130, #78E7AA, #7CA2F3); */
    background-size: 400%;
    z-index: -100;
    filter: blur(50px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 40s linear infinite;
    opacity: 100%;
    transition: opacity .3s ease-in-out;
}
.imageBackground, .aboutBackground{
    filter: blur(5px);
}

/*fluid Animation*/

canvas {
    display: block;
    cursor: crosshair;
}


