:root{
    --cellsize: 30px;
}
.imageBackground{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    opacity: 50%;
}
h1{
    font-family: "Comic Sans MS", Comic Sans, cursive;
}
.woodBlockPuzzleController{
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;
    background-color: darkgrey;
    width: 80%;
}
/*.fieldAndBlocks{*/
/*    display: inline-block;*/
/*    border-style: solid;*/
/*    border-color: greenyellow;*/
/*    width: auto;*/
/*    height: auto;*/
/*    background-color: darkgrey;*/
/*    position: center;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    float: left;*/
/*}*/
.game {
    width: auto;
    margin-right: 2%;
    padding: 2%;
    padding-right: 3%;
    box-sizing: border-box;
    display: inline-block;
    border-style: solid;
    height: auto;
    background-color: darkgrey;
    /*display: block;*/
    /*float: top;*/
    /*margin: 20px 20px 20px 20px;*/
    /*background-color: grey;*/
}
.cellRow{
    display: block;
}
.cell{
    height: var(--cellsize);
    width: var(--cellsize);
    /*height: 12.5%;*/
    /*width: 12.5%;*/
    display:inline-block;
}
.clear{
    border-style:solid;
    background-color: white;
    height: 100%;
    width: 100%;
}
.set{
    border-style:solid;
    background-color: green;
    height: 100%;
    width: 100%;
}
.blocks{
    border-style: double;
    border-color: black;
    width: 30%;
    float: right;
}
#block1{
    margin-right: 2%;
    padding: 2%;
    justify-content: center;
}
#block2{
    margin-right: 2%;
    padding: 2%;
    justify-content: center;
}
#block3{
    padding: 2%;
    justify-content: center;
}

.blockCell{
    height: 20px;
    width: 20px;
    display:inline-block;
}
.blockClear{
    /*border-style: solid;*/
    /*background-color: white;*/
    /*margin: 0%;*/
    /*height: 100%;*/
    /*width: 100%;*/
}
.blockSet{
    border-style: solid;
    background-color: green;
    height: 100%;
    width: 100%;
}
.infos{
    border-style: ridge;
    border-color: green;
    display: block;
    background-color: darkgrey;
    float: left;
}
#text{
    font-family: "Comic Sans MS", Comic Sans, cursive;
}
