:root{
    --cellsize: 30px;
}

body{
    background-image: url("public/images/spacebackground.jpg");
}
h1{
    font-family: "Comic Sans MS", Comic Sans, cursive;
}
.fieldAndBlocks{
    display: block;
    border-style: solid;
    border-color:greenyellow;
    width: auto;
    height: auto;
    background-color: darkgrey;
    float: right;
}
.game {
    display: block;
    float: top;
    margin: 20px 20px 20px 20px;
    /*background-color: grey;*/
}
.cellRow{
    display: block;
}
.cell{
    border-style:solid;
    height: var(--cellsize);
    width: var(--cellsize);
    /*height: 12.5%;*/
    /*width: 12.5%;*/
    display:inline-block;
}
.clear{
    background-color: white;
    height: 100%;
    width: 100%;
}
.set{
    background-color: green;
    height: 100%;
    width: 100%;
}
.blocks{
    border-style: double;
    border-color: black;
    display: block;
}
.block{
    float: left;
    width: 32%;
    margin-right: 2%;
    padding: 20px;
    box-sizing: border-box;

}
.block:last-child{
    margin-right: 0;
}
.blockCell{
    height: var(--cellsize);
    width: var(--cellsize);
    display:inline-block;
}
.blockClear{
    /*border-style: solid;*/
    /*background-color: white;*/
    /*margin: 0%;*/
    /*height: 100%;*/
    /*width: 100%;*/
}
.blockSet{
    border-style: solid;
    background-color: green;
    height: 100%;
    width: 100%;
}
.infos{
    border-style: ridge;
    border-color: green;
    display: block;
    background-color: darkgrey;
}
#text{
    font-family: "Comic Sans MS", Comic Sans, cursive;
}
