@()

@main("HTWG WoodBlockPuzzle") {

    <h1>About WoodBlockPuzzle</h1>
    <p>
        WoodBlockPuzzle is a game based on the idea of Tetris.
        Blocks must be placed in a limited space and, if possible, form closed rows which then dissolve.
        But instead of moving blocks and the idea to insert these blocks quickly, everything is built like a puzzle, which can be thought about without time pressure.
        the size of the gird is 8x8 in this case.
    </p>

    <p>
        Collect points by inserting the given blocks into the grid and completing rows and columns.
        Earn as many points as possible until there is no more room for any of the three blocks.
        In this case you can give up and try again. Then the highscore is to be outbid.
    </p>

}
