@(controller:de.htwg.se.woodblockpuzzle.controller.Controller)
@size= @{ controller.fieldsize }



<!DOCTYPE html>
<html>
    <head>
        <title>WoodBlockPuzzle</title>
    </head>
    <body>
        <h1>WoodBlockPuzzle</h1>
        @main("HTWG WoodBlockPuzzle") {
            <div class="WoodBlockPuzzleController">
@*Section for Count and Highscore*@
                        <div class="count">
                        @{"Count: "+controller.returnCount}
                        </div>
                        <div class="highscore">
                        @{"Highscore: "+controller.returnHighscore}
                        </div>
@*Section for field*@
                        <div class="game">
                        @for(col <- 1 to size){
                            @for(row <- 1 to size) {
                                <div class="cell">
                                    <div class="number"+controller.getCellStatusAtField(row,col)>00</div>
                                </div>
                            }
                            <br>
                            }
                        </div>

                    <td></td>
@*Section for the 3 Blocks*@
                        <div class="blocks">
@*Extra table for the blocks*@
                                    <div id="block1">
                                        <h4>Block 1:<br></h4>
                                    </div>
                                    <div id="block1Cells">
                                        @for(col <- 0 until controller.b1.blockmaxy){
                                            @for(row <- 0 until controller.b1.blockmaxx) {
                                                @{if(controller.getCellStatusAtBlock(1,row,col)==0){"0"} else "x"}
                                            }
                                        <br>
                                        }
                                    </div>
                                    <div id="block2">
                                        <h4>Block 2:<br></h4>
                                    </div>
                                    <div id="block2Cells">
                                        @for(col <- 0 until controller.b2.blockmaxy){
                                            @for(row <- 0 until controller.b2.blockmaxx) {
                                                @{if(controller.getCellStatusAtBlock(2,row,col)==0){"0"}else "x"}
                                            }
                                        <br>
                                        }
                                    </div>
                                    <div id="block3">
                                        <h4>Block 3:<br></h4>
                                    </div>
                                    <div id="block3Cells">
                                        @for(col <- 0 until controller.b3.blockmaxy){
                                            @for(row <- 0 until controller.b3.blockmaxx) {
                                                @{if(controller.getCellStatusAtBlock(3,row,col)==0){"0"}else "x"}
                                            }
                                            <br>
                                        }
                                    </div>
                        </div>
@*Section for the Statustext*@
            </div>
            <div class="statusText">
                Last action: @{controller.statusText}
            </div>
        }
    </body>
</html>